.page.theme_dark {
  --color-theme: #000028;
  --accent-color: #ff0070;
  --accent-color-shade: rgb(255 0 112 0.40);
  --font-color: #f1b2ce;
  --font-color-title: #db00ff ;
  --bg-image: url(../images/cover-image-dark.png);
}

.theme_dark .page {
  background-image: var(--bg-image);
}