.page.theme_light {
  --color-theme: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-color-shade: #35343066;
  --font-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__title {
  color: #ffcde6;
}

.theme_light .decorated-zone::before {
  border-top: 1px solid var(--font-color);
  border-right: 1px solid var(--font-color);
}

.theme_light .decorated-zone::after {
  border-bottom: 1px solid var(--font-color);
  border-left: 1px solid var(--font-color);
}

.theme_light .header__decorated-element {
  display: none;
}

.theme_light .title-decor {
  color: var(--font-color);
}

.theme_light .content__conteiner__title {
  color: var(--font-color);
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--font-color);
}

.theme_light .header__theme-menu-button {
  color: var(--font-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-theme: #fff1f7;
    --accent-color: #ff8dcb;
    --accent-color-shade: #35343066;
    --font-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }

  .page.theme_light {
    background-image: var(--bg-image);
  }

  .header__title {
    color: #ffcde6;
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--font-color);
  }

  .header__theme-menu-button {
    color: var(--font-color);
  }

  .decorated-zone::before {
    border-top: 1px solid var(--font-color);
    border-right: 1px solid var(--font-color);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--font-color);
    border-left: 1px solid var(--font-color);
  }

  .header__decorated-element {
    display: none;
  }

  .title-decor {
    color: var(--font-color);
  }

  .content__conteiner__title {
    color: var(--font-color);
  }
}
